<div class="modal-dialog" id="new_user_modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Create new client</h4>
        </div>
        <div id="error_explanation">
        </div>
        <%=  form_for(@field, remote: true) do |f|  %>
        <div class="modal-body">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="modal-body">
            <%= f.label :type %>
            <%= f.select :type, options_for_select(CustomFormField.forms_type.map { |value| [ get_form_type_string(value), value ]  }), {}, { :class => 'select_field_type' } %>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <%= f.submit 'Salvar', class: 'btn btn-primary' %>
        </div>
        <% end %>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
