<div class="modal-dialog" id="new_user_modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Create new custom field</h4>
        </div>
        <div id="error_explanation">
        </div>
        <%=  form_for(@field, remote: true) do |f|  %>
        <div class="modal-body">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="modal-body">
            <%= f.label :type %>
            <%= f.select :type, options_for_select(CustomFormField.forms_type.map { |value| [ get_form_type_string(value), value ]  }), {}, { :class => 'form-control select_field_type' } %>
        </div>
        <div id="custom_data" style="display: none">
          <div class="modal-body">
            <%= f.label "Options" %>
            <%= text_field_tag 'new_data', nil, class: 'form-control extra_data_field' %>
            <%= link_to "Add","#", class: "btn btn-primary add_new_extra_data" %>
          </div>
          <div id="custom_data_fields">

          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <%= f.submit 'Salvar', class: 'btn btn-primary' %>
        </div>
        <% end %>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
