<div class="modal-dialog" id="new_user_modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <% if action_name == "show" %>
              <h4 class="modal-title" id="myModalLabel">Contact</h4>
            <% else %>
              <h4 class="modal-title" id="myModalLabel">Add new Contact</h4>
            <% end %>
        </div>
        <div id="error_explanation">
        </div>
        <%=  form_for(@contact, remote: true) do |f|  %>
        <div class="modal-body">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="modal-body">
            <%= f.label :email %>
            <% if action_name == "show" %>
              <%= f.fields_for :user, @contact.contact do |u_fields| %>
                <%= u_fields.text_field :email, class: 'form-control', disabled: true %>
              <% end %>
            <% else %>
              <%= email_field_tag :email,"", class: 'form-control' %>
            <% end %>
        </div>

        <%= f.fields_for :contacts_custom_form_fields, @contact.contacts_custom_form_fields do |custom_fields| %>
            <div class="modal-body">
              <%= custom_fields.hidden_field :custom_form_field_id %>
              <%= custom_fields.label custom_fields.object.custom_form_field.name || "" %>

              <% if custom_fields.object.custom_form_field.type == "CustomFormTextField" %>
                <%= custom_fields.text_field :value, class: 'form-control' %>
              <% elsif custom_fields.object.custom_form_field.type ==  "CustomFormTextArea" %>
                <%= custom_fields.text_area :value, class: 'form-control' %>
              <% elsif custom_fields.object.custom_form_field.type ==  "CustomFormComboBox" %>
                  <%= custom_fields.select :value, options_for_select(
                    custom_fields.object.custom_form_field.extra_data.map { |value| [ value.name, value.name ]  }, custom_fields.object.value),
                    {}, { :class => 'form-control select_field_type' } %>
              <% end %>

            </div>
        <% end %>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <%= f.submit 'Salvar', class: 'btn btn-primary' %>
        </div>

        <% end %>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
